### 次をPythonのコードで計算せよ

$ (8 + 5) \div 8 $

In [33]:
(8 + 5 ) / 8

1.625

$ 20210723 \bmod 365 $

In [34]:
20210723 % 365

308

$ 2^8 $

In [22]:
2**8

256

### 次の式の真偽値を確かめよ

$ \frac{12.3}{45.6} == \frac{1.23}{4.56} $

In [28]:
12.3/45.6 == 1.23/4.56

True

$ \frac{10.1}{30.1} == \frac{1.01}{3.01} $

In [29]:
10.1/30.1 == 1.01/3.01

False

### 次の操作をせよ
この問題を通して、関数そのものが値として取り扱うことができること（第一級オブジェクトという）を学ぶ。

コンソールに`print`と入力し値を確認せよ。  
例
```python
>>> print
```

In [39]:
print

`print`関数を別名`stdout`で呼び出せるようにし、`stdout`を用いて文字列`"Standard Output."`を出力せよ。  
例
```python
>>> stdout = print
```

In [51]:
stdout = print
stdout("Standard Output.")

Standard Output.

引数を3倍する関数`mul3(num)`を作成し、コンソールに`mul3`と入力せよ。  
尚、関数の定義は次のように行う。  
例
```python
>>> def mul3(num):
    return num*3
```

In [56]:
def mul3(num):
    return num*3

mul3

関数の名前`mul3`には値があることが確認された。  
最後に`mul3`の値の型を見てみよう。`function`オブジェクトであることが確認できるはずである。
```python
>>> type(mul3)
```

In [61]:
type(mul3)

function

### 発展的な話題（無名関数、高階関数）
`7-3`, `True`, `"Hello"`, `print`, `mul3(10)`のように、何らかの値を持つ記号を**式**という。  
単一の式のみで表現できる関数を作るとき、`lambda`という記法が便利である。`lambda`を用いて作った関数も`print`,`mul3`同様に値である。  
例
```python
>>> lambda num: mul3(num) - num
```
ここで作成した関数には、呼び出すための名前が無い。このような関数（オブジェクト）を**無名関数**という。  
`lambda`を用いて関数を作成し、`call`という名前に代入せよ。  
ただし、`call(mul3, 10)`は`30`を出力しなければならない。  
例
```python
>>> call = lambda f, n: f(n)
```
このように関数を引数に取る関数を高階関数という。

In [60]:
call = lambda f, n: f(n)
call(mul3, 10)

30